.list-view-bar{
	overflow: hidden;
}
.list-view-bar .am-list-body{
	background-color: transparent;
	border-top: none;
}

.loadingMore{
	padding: 0.3rem 0;
	text-align: center;
	font-size: 34px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    webkit-box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.no-list{
	font-size: 0.34rem;
	text-align: center;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;

}
.list-view-bar .am-list-body:after{
	border-bottom: none;
}